body {
	font-family: Georgia, "Times New Roman", Times, serif;
  	border-width: 0px;
	border-top: 0px;
    border-color: white;
	/*border-right-style: solid;
	border-left-style: solid;*/
	padding: 0px 50px 0px 50px;
    margin: 70px;
}



.head {
	background: white;
	width: 100%;
}

#poop {
    position: absolute;
    top: 0px;
    right: 50px;
}

.heading {
    top: 30px;
   /* right: 100px;*/
	margin: 25px;
	text-align: left;
}


.heading h3{
	color: black;
	font-size: 200%;
	padding: 5px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}


/*tabs*/
.tabsy {
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	background:#8B0000;
	padding: 15px;
	color: white;
}

.tabsy ul {
	list-style: none;
	margin:0;
}

.tabsy li {
	display: inline;
	border-width: 4px;
    border-color: white;
	border-right-style: solid;
	border-left-style: solid;
	margin: 0px 0px 0px 0px;
	padding-left: 0px;
	font-size: 15px;
	color: white;
}

.tabsy li:hover {
	background-color: white;
	color: black;
}

.tabsy li a {
	padding: 0 1em;
	text-decoration: none
}

.tabsy a:link {
    color: white;
}

.tabsy a:visited {
	color: white;
}

.tabsy a:hover {
	color: black;
}

/*tabs over*/


.content {
	padding: 50px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 30px;
}


.content2 {
	padding: 50px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 30px;
}
.section {
	font-size: 30px;
	font-weight: bold;
	/*background-color: #ABB3B3;*/
	height: auto;
	border-bottom-style: solid;
	border-color: darkred;
	border-width: 6px;
	margin: 25px;
	text-align: left;
}



/*Publications*/
.pubBody {
	font-family: Georgia, "Times New Roman", Times, serif;
  	border-width: 0px;
	border-top: 0px;
    border-color: white;
	/*border-right-style: solid;
	border-left-style: solid;*/
	padding: 10px 50px 0px 50px;
    margin: 70px;
}
.pubContent {
	padding: 70px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 30px;
}

p.pubContent{
	 padding-left: 2cm;
  	text-indent: -35px;
}

.pubContent a:link{
	text-decoration: none;
	color: SlateGray;
}

.pubContent a:hover{
	color: RoyalBlue;
}

.pubContent a:visited{
	color: SlateGray;
}


/*Coursework*/

.sectionCourse {
	font-size: 20px;
	font-weight: bold;
	/*background-color: #ABB3B3;*/
	height: auto;
	border-bottom-style: solid;
	border-color: darkred;
	border-width: 6px;
	margin: 25px;
	text-align: left;
}

.courseBody {
	font-family: Georgia, "Times New Roman", Times, serif;
  	border-width: 0px;
	border-top: 0px;
    border-color: white;
	/*border-right-style: solid;
	border-left-style: solid;*/
	padding: 15px 50px 0px 50px;
    margin: 70px;
}

.researchBody {
	font-family: Georgia, "Times New Roman", Times, serif;
  	border-width: 0px;
	border-top: 0px;
    border-color: white;
	/*border-right-style: solid;
	border-left-style: solid;*/
	padding: 20px 50px 0px 50px;
    margin: 70px;
}

.bulk {
	padding: 0px 30px 0px 30px;
}

.key{
	font-size: 11px;
	 float: right;
}

/*Talks*/
.talkBody {
	font-family: Georgia, "Times New Roman", Times, serif;
  	border-width: 0px;
	border-top: 0px;
    border-color: white;
	/*border-right-style: solid;
	border-left-style: solid;*/
	padding: 10px 50px 0px 50px;
    margin: 70px;
}
.talkContent {
	padding: 70px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 30px;
}

p.talkContent{
	 padding-left: 2cm;
  	text-indent: -35px;
}

ul.talkContent{
	list-style-position: inside;
	padding-left: 3cm;
	margin-top: -20px;
}

.talkContent a:link{
	text-decoration: none;
	color: SlateGray;
}

.talkContent a:hover{
	color: RoyalBlue;
}

.talkContent a:visited{
	color: SlateGray;
}
